source https://nuget.org/api/v2
source http://nuget.episerver.com/feed/packages.svc/

nuget FSharp.Core redirects: force 
nuget EPiServer.CMS.Core
nuget EPiServer.CMS.UI.Core

group TestSite
	source https://nuget.org/api/v2
	source http://nuget.episerver.com/feed/packages.svc/
	source ./bin

	nuget Creuna.FluidImages
	nuget EPiServer.CMS
	nuget EPiServer.Logging.Log4Net

group Build
  source https://nuget.org/api/v2

  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  nuget NUnit ~> 2
  nuget NUnit.Runners ~> 2