
html,
body {
  font-size: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.fluid-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
}

.demo-image-container-wide {
  overflow: hidden;
  width: 40vw;
  height: 20vh;
}

.demo-image-container-square {
  overflow: hidden;
  width: 20vw;
  height: 20vh;
}

.demo-image-container-tall {
  width: 20vw;
  height: 40vh;
}

.demo-reference {
  width: auto;
  height: auto;
  max-width: 100px;
  max-height: 100px;
}

.fluid-image {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.fluid-image img {
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
}