<?xml version="1.0" encoding="utf-8" ?>
<module xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <assemblies>
    <add assembly="Creuna.FluidImages" />
  </assemblies>
  <dojoModules>
    <add name="creuna" path="ClientResources" />
  </dojoModules>
  <clientModule>
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>
</module>